<nav class="main-nav">
  <div class="branding">
    <a href="{{site.baseurl}}/">andy_onuki</a>:~/<!--
    {% for p in site.data.pages %}
      {% if page.categories contains p %}
        -->{{p}}<!--
      {% endif %}
    {% endfor %}
    -->$
  </div>

  <ul>
    {% unless page.categories contains 'main' %}
    <li>
      <a href="{{site.baseurl}}/{{p}}">
        cd ..
      </a>
    </li>
    {% endunless %}

    {% for p in site.data.pages %}
      <li>
        <a href="{{site.baseurl}}/{{p}}">
          cd
          {% unless page.categories contains 'main' %}
            ../<!--
          {% else %}
            <!--
          {% endunless %}
          -->{{p}}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
