<header>
  <h2>
    About me and the things I like
  </h2>
</header>
<section>
  <ul>
    <li class="{% if page.categories contains 'programming' %}active{% endif %}">
      <a href="programming.html">Programming</a>
    </li>
    <li class="{% if page.categories contains 'challenges' %}active{% endif %}">
      <a href="challenges.html">Coding Chanllenges</a>
    </li>
    <li class="{% if page.categories contains 'games' %}active{% endif %}">
      <a href="games.html">Games</a>
    </li>
  </ul>
</section>
