<nav class="main-nav">
  <div class="branding">
    <a href="{{site.baseurl}}/">andre_onuki</a>:~/<!--
    {% for c in site.data.sub_category %}
      {% if page.category == c.sub_cat %}
        --><a href="{{site.baseurl}}/{{c.cat}}">{{c.cat}}</a><!--
      {% endif %}
    {% endfor %}
    -->$
  </div>

  <ul>
    {% unless page.category == 'main' %}
    <li>
      <a href="{{site.baseurl}}/{{p}}">
        cd ..
      </a>
    </li>
    {% endunless %}

    {% for p in site.data.pages %}
      {% unless page.category == p %}
      <li>
        <a href="{{site.baseurl}}/{{p}}">
          cd
          {% unless page.category == 'main' %}
            ../<!--
          {% else %}
            <!--
          {% endunless %}
          -->{{p}}
        </a>
      </li>
      {% endunless %}
    {% endfor %}
  </ul>
</nav>
