{% for item in items %}
  <section id="{{item.id}}" class="panel panel-primary item">

    <header class="panel-heading">
      <span class="pull-right">
        <a class="btn btn-primary btn-sm" data-toggle="collapse" aria-expanded="true" data-target="#{{item.id}}-collapse" aria-controls="#{{item.id}}-collapse">
          <span class="glyphicon glyphicon-minus"></span>
        </a>
        <a class="btn btn-danger btn-sm disabled">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </span>
      <h2>
        {% if item.icon %}
          <img src="{{site.baseurl}}{{item.icon}}" alt="{{item.name}} logo" class="favicon"/>
        {% endif %}
        {% if item.url %}
          <a href="{{item.url}}">
            {{ item.name }}
          </a>
        {% else %}
          {{ item.name }}
        {% endif %}
      </h2>
    </header>

    <section id="{{item.id}}-collapse" class="panel-collapse collapse in" role="tabpanel">
      <div class="panel-body">
        {{item.description}}
      </div>
    </section>

    <footer class="panel-footer">
    </footer>

  </section>
{% endfor %}
