$nav-branding-height: 50px;
$secondary-nav-color: #333;
$secondary-nav-padding-left: 15px;
$terminal-color: green;
@keyframes blinking-cursor { /* CSS3 */
  0%   { background-color: green; }
  100%  { background-color: inherit; }
}

@media (min-width: 768px) {
  nav.main-nav {
    font-family: 'VT323';
    font-size: 15pt;
    background-color: #000;
    color: $terminal-color;

    .branding {
      display: inline-block;
      text-align: center;
      font-size: xx-large;
      min-height: $nav-branding-height;
      a {
        color: inherit;
        text-decoration: inherit;
      }
      &:after {
        content: "\0000a0";
        animation: 1s steps(start, end) 0s normal none infinite running blinking-cursor;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline;

      li {
        padding: 15px 15px;
        display: inline-block;

        a {
          color: inherit;
          text-decoration: inherit;
        }
      }
    }

  }

}
