$main-background-color: #fff;
$side-nav-width: 200px;
$terminal-color: green;
$terminal-bg-color: #000;

body {
  position: relative;
}

@media (min-width: 768px) {
  #side-nav {
    float: left;
    width: $side-nav-width;
    padding: 20px 0;
    &.affix {
      top: 0;
    }
  }

  #main-content {
    padding: 20px;
    margin-left: $side-nav-width + 10px;
  }
}
header.panel-heading h2 {
  margin: 0;
  a {
    color: inherit;
  }
}

.glyphicon.glyphicon-minus {
  top: 10px;
}
