$main-background-color: #fff;
$side-nav-width: 200px;
$terminal-color: green;
$terminal-bg-color: #000;

body {
  position: relative;

  main {
    font-size: 20px;
    font-family: Helvetica, sans-serif, Arial;
  }
}

#main-content>section + section{
  margin: 10px 0;
}

@media (min-width: 768px) {
  #side-nav {
    float: left;
    width: $side-nav-width;
    padding: 20px 0;
    &.affix {
      top: 0;
    }
  }

  #main-content {
    padding: 20px;
    margin-left: $side-nav-width + 10px;
  }
}

header.panel-heading h2 {
  margin: 0;
  a {
    color: inherit;
  }
  .favicon {
    max-height: 24px;
    background-color: white;
  }
}

section {
  text-indent: 0;
}

.item {

  .glyphicon.glyphicon-minus {
    top: 10px;
  }

  .panel-body {
    max-height: 500px;
    overflow-y: auto;

    section + section {
      text-indent: 1.5em;
    }
  }
}

#euler-badge {
  width: 100%;
}
